<form [formGroup]="trackForm">
  <label for="Name">Name: </label>
  <input id="Name" type="text" formControlName="Name">
  <label for="Description">Description: </label>
  <input id="Description" type="text" formControlName="Description">
</form>

<button (click)="addTrack()">Submit</button>

<table mat-table [dataSource]="(tracks|async)|| []" class="mat-elevation-z8 demo-table">
  <!-- Name Column -->
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
  </ng-container>

  <ng-container matColumnDef= "TrackRecord">
    <th mat-header-cell *matHeaderCellDef> Track Record </th>
    <td mat-cell *matCellDef="let element"> {{element.TrackRecord}} </td>
  </ng-container>

  <ng-container matColumnDef= "RecordHolder">
    <th mat-header-cell *matHeaderCellDef> Record Holder </th>
    <td mat-cell *matCellDef="let element"> {{element.RecordHolder}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
