<main *ngIf="isValid">
  <app-header></app-header>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      Sidenav content
    </mat-sidenav>

    <mat-sidenav-content>
      <p class="header">
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon
            aria-hidden="false"
            aria-label="Menu"
            fontIcon="menu"
          ></mat-icon>
        </button>
      </p>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</main>
<div *ngIf="!isValid">
  This page is only for mobile devices
</div>
